<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/home.css" />
    <!-- CSS only -->
    <!-- add fontawesome cdn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <!-- add bootstrap link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- adding header (navbar) partial  -->
    <%- include('_header');%>

    <!-- container for product adding and product list -->
    <div class="container">
      <div class="row">
        <div
          class="h2 pb-2 mb-4 text-warning border-bottom border-warning fw-bold"
        >
          <%=headline%>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="h4 pb-2 mb-4 text-muted fw-bold">ADD PRODUCT</div>
        </div>
        <div class="col-8">
          <!-- Add Product items and quantity  -->
          <form action="/products/create/gui" method="post" class="ms-4">
            <div class="form-floating mb-3 col-8">
              <input
                type="text"
                name="name"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Product Name</label>
            </div>
            <div class="form-floating mb-3 col-8">
              <input
                type="text"
                name="quantity"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Enter Quantity</label>
            </div>

            <div>
              <button type="submit" class="btn btn-info text-muted fw-semibold">
                Add Item
              </button>
            </div>
          </form>
          <!-- adding product item-end  -->
        </div>
        <div class="col-2"></div>
      </div>

      <!-- adding flex box container -->
      <div class="d-flex flex-row p-5 flex-wrap justify-content-a">
        <!-- Render product item list using flex  list -->
        <%for(let i of product_list){%>

        <!-- product image & details container -->
        <div class="card m-4 p-2" style="width: 14rem">
          <img src="https://cdn-icons-png.flaticon.com/128/7126/7126444.png" />
          <div class="card-body">
            <h3 class="card-title text-muted"><%=i.name%></h3>
            <p class="card-text text-muted fw-semibold">
              <small>Quantity :</small><%=i.quantity%>
            </p>
            <!-- updating product quantity form  -->
            <form
              form
              action="/products/update_quantity/gui/<%=i._id%>"
              method="post"
            >
              <input
                type="text"
                name="quantity"
                placeholder="enter quantity.."
              />
              <input
                type="submit"
                style="text-align: center; width: 190px"
                class="btn btn-info mt-2 fw-semibold"
                value="UPDATE"
              />
            </form>
            <!-- updating product quantity form-End  -->

            <!-- deleting product  -->
            <a type="button" href="/products/gui/<%=i._id%>">
              <img
                src="https://cdn-icons-png.flaticon.com/24/7799/7799917.png"
              />
            </a>
            <!-- deleting product-end  -->
          </div>
        </div>
        <!-- product image & details container -->

        <%}%>
      </div>
      <!-- Render product item list-End -->
    </div>
    <i class="fa-thin fa-trash-can"></i>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
